#yotpo-app {
  .yotpo-bottom-line, .yotpo-filters-container-inner, [item-selector=".yotpo-review-card"] {
    display: none;
  }
}

.press--trust-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .press--trust-logo {
    max-width: 50px;

    img {
      max-width: 100%;
    }
  }
}

.product-info__block-item[data-block-id="yotpo_product_reviews_ugc_star_rating_iBqbqd"] {
  margin: 0 !important;
}

.product-info__block-item .yotpo-sr-bottom-line-right-panel {
  display: none !important;
}

.yotpo-sr-star-full svg path {
  fill: #FFB74A;
}

.product .product-info .discount-message {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    width: 15px;
  }

  p {
    strong {
      background: #FFB74A;
      color: #fff;
      padding: 2px 5px;
    }
  }
}

.text-on-sale {
  color: rgb(var(--text-color) / 1);
}

.product-info__block-item[data-block-type="@app"] {
  display: flex;
  align-items: center;

  .yotpo-reviews-star-ratings-widget.yotpo-star-ratings-widget-override-css{
    margin: 0 !important;
  }

  .yopto-reviews--text-container {
    display: flex;
    align-items: center;
    gap: 5px;

    .image--container {
      max-width: 35px;

      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.rating-with-text {
  display: flex;
  align-items: center;

  .badge--on-sale.has_background {
    position: relative;
    background: transparent;
    color: black;
    padding: 10px;
    margin-left: 5px;
    margin-top: 0px;
    max-width: 100px;
    max-height: 50px;
    text-align: center;
    padding-right: 12px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1;

    .badge-background-image--container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      left: 0;
      right: 0;

      width: 100%;

      z-index: 0;

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    span {
      z-index: 1;
    }
  }
}

.social-media {
  li a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.template--product .media-grid .media-grid__item {
  filter: none;
}

.footer__block--newsletter img {
  max-width: 110px;
}

.footer__block-list {
  gap: 25px;
}

.footer__wrapper, .footer__aside {
  gap: 25px;
}


@media screen and (max-width: 768px) {
  .shopify-section--press .section {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .template--product .media-with-text__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .template--product .shopify-section--media-with-text {
    .section {
      padding: 0 !important;

      .media-with-text__item {
        gap: 0;

        .media-with-text__content {
          padding: 25px;
        }

        .media-with-text__media {
          position: relative;
          height: 0;
          padding-top: 130%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .template--product .press {
    gap: var(--spacing-2);

    .press__list-item {
      gap: var(--spacing-4);
    }
  }

  .template--product .shopify-section--press .section-stack {
    gap: var(--spacing-4);
  }
}
