#yotpo-app .yotpo-bottom-line, #yotpo-app .yotpo-filters-container-inner, #yotpo-app [item-selector=".yotpo-review-card"] {
  display: none;
}

.press--trust-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.press--trust-container .press--trust-logo {
  max-width: 50px;
}
.press--trust-container .press--trust-logo img {
  max-width: 100%;
}

.product-info__block-item[data-block-id=yotpo_product_reviews_ugc_star_rating_iBqbqd] {
  margin: 0 !important;
}

.product-info__block-item .yotpo-sr-bottom-line-right-panel {
  display: none !important;
}

.yotpo-sr-star-full svg path {
  fill: #FFB74A;
}

.product .product-info .discount-message {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product .product-info .discount-message svg {
  width: 15px;
}
.product .product-info .discount-message p strong {
  background: #FFB74A;
  color: #fff;
  padding: 2px 5px;
}

.text-on-sale {
  color: rgb(var(--text-color)/1);
}

.product-info__block-item[data-block-type="@app"] {
  display: flex;
  align-items: center;
}
.product-info__block-item[data-block-type="@app"] .yotpo-reviews-star-ratings-widget.yotpo-star-ratings-widget-override-css {
  margin: 0 !important;
}
.product-info__block-item[data-block-type="@app"] .yopto-reviews--text-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-info__block-item[data-block-type="@app"] .yopto-reviews--text-container .image--container {
  max-width: 35px;
}
.product-info__block-item[data-block-type="@app"] .yopto-reviews--text-container .image--container img {
  max-width: 100%;
  width: 100%;
}

.rating-with-text {
  display: flex;
  align-items: center;
}
.rating-with-text .badge--on-sale.has_background {
  position: relative;
  background: transparent;
  color: black;
  padding: 10px;
  margin-left: 5px;
  margin-top: 0px;
  max-width: 100px;
  max-height: 50px;
  text-align: center;
  padding-right: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
.rating-with-text .badge--on-sale.has_background .badge-background-image--container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
.rating-with-text .badge--on-sale.has_background .badge-background-image--container img {
  width: 100%;
  max-width: 100%;
}
.rating-with-text .badge--on-sale.has_background span {
  z-index: 1;
}

.social-media li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.template--product .media-grid .media-grid__item {
  filter: none;
}

.footer__block--newsletter img {
  max-width: 110px;
}

.footer__block-list {
  gap: 25px;
}

.footer__wrapper, .footer__aside {
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .shopify-section--press .section {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .template--product .media-with-text__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .template--product .shopify-section--media-with-text .section {
    padding: 0 !important;
  }
  .template--product .shopify-section--media-with-text .section .media-with-text__item {
    gap: 0;
  }
  .template--product .shopify-section--media-with-text .section .media-with-text__item .media-with-text__content {
    padding: 25px;
  }
  .template--product .shopify-section--media-with-text .section .media-with-text__item .media-with-text__media {
    position: relative;
    height: 0;
    padding-top: 130%;
  }
  .template--product .shopify-section--media-with-text .section .media-with-text__item .media-with-text__media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .template--product .press {
    gap: var(--spacing-2);
  }
  .template--product .press .press__list-item {
    gap: var(--spacing-4);
  }
  .template--product .shopify-section--press .section-stack {
    gap: var(--spacing-4);
  }
}

/*# sourceMappingURL=malik.css.map */
